
    
  
.productDetails{
        color: blue;
        border: 1px solid blue;
        display: flex;
        gap:5rem;
        margin-top: 2rem;
}

.arrange{
   
    display: flex;
   justify-content: space-between;
}
.margin{
    margin-left: 8rem;
    
}
.horizontal{
    width: 100%; /* Adjust the width as needed */
    height: 2px; /* Adjust the height as needed */
    background-color: #000; /* Change the color as needed */
    margin: 10px 0; /* Add margin for spacing, adjust as needed */
}
@media screen and (max-width: 400px) {
   .productDetails{
    flex-direction: column;
   }
  }