.main{
    gap: 2rem;
    margin: 2rem;
}
.main{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 1rem;


   
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.container{
    display: flex;
    justify-content: center;
  
}